/*body {
    font: 20pt Helvetica;
}*/
#content {
    padding-top: 20px;
}

#banner{
  background: #bdc3c7;
  color: #2c3e50;
  height:3.7%;
  font-size: 18px;
}

#container{
  /*padding-left: 5px;
  padding-right: 10px;*/
}


/*.button-container{
  width:50%;
  left:50%;
}*/
/*button .part-width{
  width:50%;
}*/
/*#add-item{
  width: 30%;
  height: 100%;
  padding-left: 2% !important;
}*/


#header{
  text-align:center;
  height: 10vh;
  margin-bottom: 10px;
}
#calculate {
  position:absolute;
  bottom:0px;
  left:0px;
    width: 100%;
    height: 9vh;
    /*height: 56px;*/
    padding-left: 2% !important;
    background: #2ecc71;
    margin:0;
    font-size:3vh
}
.footer {
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  /*clear:both;*/
  /*padding-top:20px;*/
}
.nav{
    max-height: 400px;
    overflow-y:scroll;
    margin-bottom:10px;
}

button .full-width{
  width:100%;
  display:block; //only if you're having issues
}
/*.top-buffer { margin-top:20px; }*/

#total{
  size:18pt;
  margin-top:40px;
  float:right;
  padding-right: 10px;

}

.well{
  background: white !important;
  margin-bottom:10px !important;
  height:450px;
}

.active{
  background-color:#3498db;
  color:white;
}

.gram{
  float:right;
  padding-right: 10px;
}

.food {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  /*font-weight: bold;*/
}

.h1{
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}

.h3 {
  color: white;
  font-size: 5vh;
  padding: .5vh;
}

.header-button{
  height:10vh;
  width: 30vw;

  letter-spacing: .2vw;
  background-color: #ecf0f1;
}

.header-button:active{
  background-color: #7f8c8d;
  color: purple;
}

.header-button:focus{
  outline: none;
}

.input-label{
  text-align: right;
}
