body,html{
  height: 100%;
  overflow-x: hidden;
}

.center{
  text-align: center;
}

.input-row{
  margin: 2vh;
  padding: 1vh;
}

.input-label {
  font-weight: bold;
}

.input-num {
}

.popup-background{
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.center-div{
  top: 25vh;
  height: 50vh;
  width: 75vw;
  left:12.5vw;
  border-radius: 5vw;
}

.popup{
  opacity: 0;
  position: absolute;
  background-color: #bdc3c7;
  top:25%;
  /*left:0px;*/
}

label{
  font-size: 3vh;
  /*text-align: justify;*/
}

.visible{
  visibility: visible;
  display:block;
}

.invisible{
  visibility: hidden;
  display:none;
}

#cancel{
  position:relative;
  background-color: #e74c3c;
  left: 1vw;
}

#done{
  position: relative;
  background-color: #2ecc71;
  right: 1vw;
}

.insulin {
  font-size: 4vh;
}

.btn {
  margin: 1vw;
}
