body,html{
  height: 100%;
  overflow-x: hidden;
}


.input-row{
  margin: 2vh;
  padding: 1vh;
}

.input-label {
  font-weight: bold;
}

.input-num {
}

.popup-background{
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.center-div{
  text-align: center;
  vertical-align: middle;
}

.popup{
  padding: 0;
  position: relative;
  opacity: 0;
  background-color: #e3e7e8;
  top:10%;
  height: auto;
  /*left:0px;*/
}

.popup-title{
    background-color: #3498db;
    color: white;
    width: auto;
    text-align: center;
}

.popup-content{
  text-align: center;
  height:40vh;
}

.popup-footer{
    background-color: #3498db;
    color: white;
    width: auto;
    text-align: center;
}

label{
  font-size: 3vh;
  /*text-align: justify;*/
}

.visible{
  visibility: visible;
  display:block;
}

.invisible{
  visibility: hidden;
  display:none;
}

#cancel{
  position:relative;
  background-color: #e74c3c;
  left: 1vw;
}

#done{
  position: relative;
  background-color: #2ecc71;
  right: 1vw;
}

#done-save{
  position: relative;
  background-color: #2ecc71;
  right: 1vw;
}

.insulin {
  font-size: 4vh;
}

.btn {
  margin: 1vw;
}
