body,html{
  height: 100%;
}

.center{
  text-align: center;
}

.back{
  height: inherit;
  width: 25vw;
  letter-spacing: .2vw;
  background-color: #ecf0f1;
}

.back:active{
  background-color: #7f8c8d;
  color: white;
}

.back:focus{
  outline: none;
}

.button-bar{
  height: 9vh;
}


.title{
  background-color: #3498db;
  width: 100%;
  padding: .25vh;
  height: 16vh;
}

.title h1{
  color: white;
  font-size: 8vh;
  padding: 1vh;
}

.saved-list{
  position: relative;
  height: auto;
  max-height: 63vh;
  overflow-x: hidden;
}

.food-item{
  height: 10vh;
  padding: .25vh;
  background-color: #ecf0f1;
}

.food-item:enabled {
  background-color: #3498db;
}

.food-item h3{
  margin-left: 3vw;
  vertical-align: middle;
}


.addFood {
  background-color: #2ecc71;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 1vh;
  height: 12vh;
}

.addFood:active {
  background-color: #27ae60;
}

.addFood h3 {
  color: white;
  font-size: 5vh;
  padding: .5vh;
}
