.centered{
	margin-top:5%;
	text-align:center
}

.mainCol{
	height:100%;
}
.searchBar{
	width:50%;
}

.resultOptions{
	top:30%;
	right:10%;
}

.resultName{
	top:30%;
	font-size:2em;
}
.searchResults{
	text-align:left;
	position:relative;
	height:100px;
}
.searchResult{
	width: 100%;
	height: 100%;
	border-style: solid;
}

/* Modal */
.basketModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content/Box */
.basketContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    overflow:auto;
    opacity:1;
}

.basketResults{
	text-align:left;
	position:relative;
	height:100px;
}
.basketResult{
	width: 100%;
	height: 100%;
	border-style: solid;
}

#basket-icon{
	cursor: pointer;
}

.modalFooter{
	text-align: right;
	margin-top:20px;
}

.backContainer{
	position: absolute;
	top:20px;
}
#addToMealBtn{
}