#breakfastLabel{
	background-color : red;
	color : red;
}

.header-button{
	position: absolute;
	top: 0px;
	left: 0px;

  height:10vh;
  width: 30vw;

  letter-spacing: .2vw;
  background-color: #ecf0f1;
}

.header-button:active{
  background-color: #7f8c8d;
  color: white;
}

.header-button:focus{
  outline: none;
}

.content {
	position: absolute;
	top: 15vh;
	left:10vw;
}

.glyphicon-arrow-left{
	font-size: 45px;
}
